{% extends 'base.html' %}

{% block content %}

    <h1>Welcome the to the GPA and Grade Calculator!</h1>

    <p>
    This page was created to help college students to be able to calculate their GPA and grades.<br>
    I noticed that non-traditional students as well as students who struggled with math had<br>
    a hard time figuring out what their grades were for individual classes. Most of them<br>
    also did not know or understand how to calculate a GPA. So as I went from one programming<br>
    class to another I decided to create something that would help the other students<br>
    calculate their grades and a GPA.
    </p>
    <p>
    To be able to use the site you must register. Once you have registered can use all of<br>
    the features of the site. If you create a profile it will help me in the research portion<br>
    of the site.
    </p>

{% endblock %}
